<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <%- include('common/header'); %>
        <!--  - for including ejs file -->
        <h1>
            Welcome, This is LoginPage!
        </h1>
    </body>
</html>